<h1><%= @pokemon.name %></h1>
<%= image_tag @pokemon.sprite %>
<%# print pokemon %>
<p>Height: <%= @pokemon.height %> | Weight: <%= @pokemon.weight %></p>
<p>Types: <%= @pokemon.types %></p>
<p>Abilities: <%= @pokemon.abilities %></p>

<%# Add a link to the index page %>
<%= link_to "Back to Pokedex", pokemons_path %>